# Data
data/
!data/example.com-key.pem
!data/example.com.pem
!data/docker_rabbitmq.config
!data/docker_rabbitmq-env.conf
!data/osm_ui_stats.png
!data/osm_ui.png
!data/osmfapra_example.gif


# Builded webclient
server/web/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
