[submodule "server/libs/osmpbf"]
	path = server/libs/osmpbf
	url = https://github.com/niklaskleinhans/osmpbf.git
[submodule "server/libs/Simple-Web-Server"]
	path = server/libs/Simple-Web-Server
	url = https://github.com/niklaskleinhans/Simple-Web-Server.git
