.arrival-display-wrapper {
	position: fixed;
    top: 0px;
    left:40%;
	right: 45%;
	z-index: 2000;
	pointer-events: none;
    width: 200px;
    box-shadow: 0 4px 8px 0 $light_green, 0 6px 20px 0 $dark;
    
    &.sidebar-open{
        left: 45%;
        right:40%;
    }
    

	.arrival-display {
        @include fadein();
		display: block;
		position: relative;
		background: $dark;
		padding: 16px 40px 16px 22px;
		color: $light;
		pointer-events: all; 
        text-align: center;

        .credit-text {
            text-align: center;
            font-size:40px;
            background: $light;
        }
    }

}