@keyframes fadein {
	0% {
		opacity: 0;
		transform: translateY(5px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes fadeout {
	0% {
		opacity: 1;
		transform: translateY(0px);
	}
	100% {
		opacity: 0;
		transform: translateY(5px);
	}
}

.notifications {
	position: fixed;
	bottom: 65px;
	right: 15px;
	z-index: 1000;
	pointer-events: none;
	width: 300px;
}
.notification {
	animation-name: fadein;
	animation-duration: 0.2s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	display: block;
	position: relative;
	background-color: #272727;
	padding: 16px 40px 16px 22px;
	margin: 10px 0 0 0;
	color: white;
	pointer-events: all; 
	border-radius: 3px;
}

.closing,
.fadeout{
	animation-name: fadeout;
	animation-duration: 0.2s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}
.info{
	background-color: $dark;
}
.good {
	background-color: $light_green;
}
.bad{
	background-color: $light_red;
}
