.sidebar-trigger{
	position: fixed;
	background-color: $dark;
	width: 50px;
	height: 35px;
	z-index: 10000;
	opacity: 0.9;
	border-radius: 10px;
	bottom:10px;
}

aside{
	@include animate(0.15s);
	position: fixed;
	top: 0;
	left: -220px;
	bottom: 0;
	z-index: 10000;
	width: 220px;
	overflow: hidden;
	background: $dark;
	opacity: 0.9;
	border-right: 1px solid lighten($dark, 2%);
	color: $light;
	box-sizing: border-box;

	.button-action{
		background-color: $light_green;
	}
	.button-info{
		background-color: $light;
	}
	.sharedfield{
		background-color: $light;
		color: $light_green
	}

	.sidebar-open & {
		-ms-transform: translate(220px, 0);
		-webkit-transform: translate(220px, 0);
		transform: translate(220px, 0);
	}

	.liner {
		overflow-y: auto;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 120px;
		box-sizing: border-box;
		z-index: 2;
		overflow-y: auto;
	}


	nav {
		z-index: 2;
		position: relative;
		padding-top: 20px;
		line-height: 1em;

		a {
			//@include gradient_overlay(3px);
			font-family: "Overpass";
			font-weight: 500;
			font-size: 14px;
			color: $light;
			text-decoration: none;
			display: block;
			padding: 10px 10px 8px;
			margin: 0 16px;
			border-radius: 3px;

			.icon {
				padding-right: 8px;
				vertical-align: top;
				margin-top: -1px;
				font-size: 14px;
			}

			.status {
				margin-left: 5px;
				float: right;

				.icon {
					padding-right: 0;
					padding-left: 8px;
				}
			}

			&.active {
				background: $light_green;
				color: $light;

				&:before {
					opacity: 0.15;
				}
			}

			&[disabled] {
				opacity: 0.3;
				cursor: not-allowed;
			}

			&:hover:not([disabled]){
				&:before {
					opacity: 0.15;
				}
			}

			&:active {
				@include noanimate();
				transform: translate(1px,1px);
			}
		}

		section {
			padding-bottom: 25px;

			title {
				display: block;
				padding: 0 26px 5px 26px;
				font-size: 10px;
				text-transform: uppercase;
				opacity: 0.5;
				color: $mid_light;
			}
		}
	}

	.button-spacing{
		width: 60%;
		margin: auto;

		button{
			width: 100%;
		}
	}

	.close {
		display: none;
		color: black;
		position: absolute;
		bottom: 4px;
		right: 4px;
		padding: 10px 8px;
		display: inline-block;
		opacity: 0.5;
		z-index: 100000;
	}
	
	.bottom-button {
		display: none;
		position: absolute;
		bottom: 40px;
		left:0%;
		display: inline-block;
		z-index: 100000;
	}

}